.LandingWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: center; */
  color: white;

  background-image: url('../media/headphones-brown.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  text-shadow: black 0px 0px 30px;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.ResultsPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4rem;
}